# Ignore all __pycache__ directories and *.pyc files inside them
pos_payment_dinger/models/__pycache__/
pos_payment_dinger/models/__pycache__/*.pyc

pos_payment_dinger/controller/__pycache__/
pos_payment_dinger/controller/__pycache__/*.pyc

pos_payment_dinger/__pycache__/
pos_payment_dinger/__pycache__/*.pyc
