.list-unstyled {
  li {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.fw-bold {
  font-weight: bold;
}

.step-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  border: 2px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.clickable {
  cursor: pointer;
}

.active-step {
  .step-circle {
    border-color: #000;
  }
}

.completed-step:hover {
  text-decoration: none;
}

/* For the horizontal line beside the step */
.horizontal-line {
  margin-top: 30px;
  border: 1px solid #D9D9D9;
  background: #D9D9D9;
  width: 2px;
  height: 200px;
}

/* For order information page */
.logo-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .left-logo {
    img {
      height: 80px;
    }
  }

  .right-info {
    margin-left: 30px;
    text-align: left;
  }
}
